{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
    "rules": {
     "indent": ["error", 2, {
            "SwitchCase": 1
        }],
        "arrow-body-style": "off",
        "class-methods-use-this": "off",
        "consistent-return": "off",
        "func-names": "off",
        "import/no-mutable-exports": "off",
        "jsx-a11y/no-autofocus": "off",
        "jsx-a11y/role-has-required-aria-props": "off",
        "jsx-quotes": ["error", "prefer-double"],
        "no-case-declarations": "off",
        "no-shadow": "off",
        "no-underscore-dangle": "off",
        "no-unused-expressions": ["error", { "allowTernary": true }],
        "react/forbid-prop-types": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": [2, 2],
        "react/require-default-props": "off",
        "space-before-function-paren": "off"
  },
  "extends": "airbnb"
}
