{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
    "rules": {
     "indent": ["error", 2, {
            "SwitchCase": 1
        }],
        # "max-len": "off",
        "react/jsx-indent": [2, 2],
        # "indent": ["error", 2],
        # "react/jsx-no-bind": "off",
        # "jsx-a11y/no-static-element-interactions": "off",
        # "react/no-unused-prop-types": ["error", { "customValidators": [], "skipShapeProps": true }],
        "arrow-body-style": ["error", "always"],
        # "import/prefer-default-export": "off",
        "class-methods-use-this": "off",
        # "react/forbid-prop-types": "off",
        "react/jsx-filename-extension": "off",
        "no-case-declarations": "off",
        "react/require-default-props": "off",
        # "func-names": "off"
  },
  # "extends": ["eslint:recommended", "plugin:react/recommended"]
  "extends": "airbnb" 
}
