.fullscreen-container {
  margin: 0 auto;
  max-height: 70vh;
  max-width: 960px;
  min-height: 300px;
  padding-bottom: 110px;
  position: relative;
  width: 100%;
}

.grey-title-text {
  color: $grey-dark;
  font-weight: bold;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
