.circular-delete {
  background: linear-gradient(#fff, #eee);
  border: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px   rgba(0, 0, 0, .2);
  color: #212121;
  height: 22px;
  margin-left: 10px;
  padding: 0;
  text-align: center;
  width: 22px;

  &:focus {
    box-shadow: inset 0 0 0 1px   rgba(0, 0, 0, .2);
  }

  &:hover {
    background: linear-gradient(#f7f7f7, #e6e6e6);
    cursor: pointer;
  }

  .icon-close {
    font-size: 16px;
    opacity: .6;
    position: relative;
    right: .8%;
  }
}
