.confirm {
  position: static;
  
  .confirm-danger-text {
    font-size: 1.3em;
    line-height: 1.5em;
    
    @include respond-to(handhelds) { 
      font-size: 16px;
    }
  }
  
  .confirm-button-group {
    position: absolute;
    margin: 40px 40px;  
    right: 0;
    bottom: 0;
    
    .confirm-button {
      position: static;
      margin: 0;
      margin-left: 10px;
      
      @include respond-to(handhelds) { 
        font-size: 17px;
      }
    }
    
    @include respond-to(handhelds) { 
      margin: 15px 0;
      margin-right: 10px;
    }
  }
  
  .confirm-time {
    font-family: monospace;
  }
}
