.edit-time {
  font-size: 50px;

  &:focus {
    outline: none;
  }
}

.editing {
  color: $black-faded;
  font-family: $font-main;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  width: 125px;
  z-index: -100;

  &:focus {
    outline: 0;
  }
}
