.form-page {
  padding-top: 10vh;

  @include respond-to(handhelds) {
    padding: 30px 20px;
  }

  .form-container {
    padding-bottom: 100px;
    top: 0;

    @include respond-to(handhelds) {
      padding-bottom: 20px;
    }
  }

  .form-page-button-group {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: left;

    @include respond-to(handhelds) {
      position: static;
      text-align: left;
    }

    .form-page-button {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 10px;
      position: static;

      @include respond-to(handhelds) {
        font-size: 17px;
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
        padding: 14px 32px;
      }
    }
  }
}

.form-container {
  font-family: $font-form;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  text-align: left;
  width: 70%;

  @include respond-to(handhelds) {
    width: 100%;
  }

  &.form-container-nested {
    margin: 0;
  }

  &.normal-modal-form-container {
    height: 70%;
  }

  &.onboarding-form {
    font-size: 25px;

    .form-title {
      font-size: 30px;
    }
  }

  .form-error {
    color: $red;
    font-size: 20px;

    @include respond-to(handhelds) {
      font-size: 16px;
    }
  }

  .form-field-wrapper {
    margin-top: 30px;
  }

  .form-input {
    border: 0;
    border-bottom: 1px solid $black-faded;
    display: inline-block;
    font-family: $font-form;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .form-title {
    color: $black-faded;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}
