.landing-page {
  border: 1px solid $debug-border-color;
  text-align: center;
  padding: 20px;
  line-height: 1.25;
  font-size: 16px;

  @media screen and (min-width: 960px) {
    width: 900px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1224px) {
    width: 1024px;
  }

  @media screen and (min-width: 1440px) {
    width: 1100px;
    font-size: 18px;
  }
}

.lp-hero {
  @media screen and (min-width: 960px) {
    max-width: 400px;
  }

  @media screen and (min-width: 1224px) {
    max-width: initial;
  }
}

.lp-heading-wrapper {
  // border: 1px solid #000;
  position: relative;
}

.lp-heading-logo {
  position: absolute;
  left: -36px;
  top: 7px;
  width: 2em;
}

.lp-heading {
  font-weight: 700;
  font-size: 1.8em;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1440px) {
    font-size: 2.2em;
    margin-bottom: 15px;
  }
}

.lp-sub-heading {
  color: $grey-super-dark;
  font-size: 1.3em;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;

  @media screen and (min-width: 960px) {
    margin-top: 0;
    display: inline-block;
  }

  @media screen and (min-width: 1224px) {
    max-width: initial;
  }
}

%start-button {
  font-size: 1em;
  padding: 1em 2.4em;
}

.heading-start-button {
  @extend %start-button;
  @media screen and (min-width: 960px) {
    @include hide();
  }
}

.description-start-button {
  @extend %start-button;
}

.lp-iphone-screenshot {
  margin: 50px 0;
  max-width: 350px;
  width: 100%;
}

.lp-sections {
  @media screen and (min-width: 960px) {
    @include hide();
  }

  .lp-sub-headings {
    margin-bottom: 0;
  }
}

.lp-section {
  // border: 1px solid $debug-border-color;
  padding-bottom: 50px;
}

.lp-description-list-wrapper {
  display: inline-block;
  @media screen and (max-width: 959px) {
    @include hide();
  }
}

.lp-description-list {
  color: $grey-super-dark;
  margin-bottom: 30px;
}

.lp-description-item {
  font-size: 1em;
  margin-bottom: 12px;

  // @media screen and (min-width: 1440px) {
  //   font-size: 1em;
  // }
}

.lp-description-item-icon {
  color: $black-faded;
  margin-right: 10px;
}
