.list-item-context-menu {
  min-width: 0;
  padding: 0;
  position: relative;
  text-align: left;

  .popup-menu-wrapper {
    height: 0;
  }

  .popup-menu-trigger:hover {
    background-color: transparent;
  }

  .popup-menu-content {
    background-color: $white;
    min-width: 155px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 58px;
  }

  .popup-menu-item {
    border: 1px solid $grey-medium-light;
    border-bottom: 0;
    padding: 8px 10px;
    text-transform: uppercase;

    &:last-child {
      border-bottom: 1px solid $grey-medium-light;
    }

    &:hover {
      background-color: $grey-super-light;
    }

    .context-menu-icon {
      opacity: .6;
    }
  }
}
