.list-item {
  font-size: 14px;
  line-height: 6px;
  padding: 25px 25px 25px 20px;
  width: 100%;

  @include respond-to(small-screens) {
    padding: 25px 9px;
  }

  &.selected {
    background-color: $blue-light;
  }

  &.active {
    background-color: $aqua;

    .list-item-stop {
      background-color: $black;
      border-color: $black;
    }

    .list-item-outline-button {
      background-color: transparent;

      &:hover {
        background-color: $white;

        .icon-dots {
          color: $black;
          opacity: 1;
        }
      }
    }

    .icon-stop {
      color: $aqua;
    }
  }

  &:first-child:last-child {
    &.total-time {
      border: 0;
      padding-top: 50px;
    }
  }

  &:not(.active):not(.total-time):hover {
    background-color: $blue-light;
    cursor: pointer;

    .icon-dots {
      opacity: .7;
    }
  }

  &.total-time {
    border: 0;
    font-size: inherit;
  }

  .list-item-button {
    $icon-size: 14;
    $icon-padding: 8;

    background-color: $blue-steel;
    border: 1px solid $blue-steel;
    border-radius: 50%;
    box-sizing: content-box;
    color: $white;
    display: inline-block;
    font-size: $icon-size * 1px;
    height: $icon-size * 1px;
    line-height: $icon-size * 1px;
    padding: $icon-padding * 1px;
    position: relative;
    text-align: center;
    width: $icon-size * 1px;

    &.list-item-play,
    &.list-item-stop {
      &:hover {
        background-color: $blue-steel-hover;
        cursor: pointer;
      }
    }

    &.list-item-outline-button {
      background-color: transparent;
      color: $blue-steel;
      font-size: 15px;
      height: $icon-size - 0 * 1px;
      margin-left: 20px;
      width: $icon-size - 0 * 1px;

      @include respond-to(handhelds) {
        margin-left: 5px;
      }

      .icon-dots {
        opacity: 0;
        position: relative;
        right: .9px;
        top: .4px;

      }

      &:hover {
        .icon-dots {
          opacity: 1;
        }
      }
    }

    &.list-item-stop::before {
      @include animation(spinner 1s linear infinite);

      $icon-radius: $icon-size / 2 + $icon-padding;
      $spinner-radius: $icon-radius - 1;
      border-radius: 50%;
      border-top: .75px solid$white;
      box-sizing: border-box;
      content: '';
      height: $spinner-radius * 2px;
      left: $icon-radius - $spinner-radius * 1px;
      position: absolute;
      top: $icon-radius - $spinner-radius * 1px;
      width: $spinner-radius * 2px;
    }

    .list-item-letter-icon {
      font-size: 15.5px;
      font-weight: 500;
    }

    .icon-play {
      left: 7.5%;
      position: relative;
    }
  }

  .list-item-context-menu {
    font-size: 13px;
    min-width: 0;
    padding: 0;
    position: relative;
    text-align: left;

    .popup-menu-wrapper {
      height: 0;
    }

    .popup-menu-trigger:hover {
      background-color: transparent;
    }

    .popup-menu-content {
      background-color: $white;
      min-width: 155px;
      position: absolute;
      right: 0;
      top: 58px;
    }

    .popup-menu-item {
      border: 1px solid $grey-medium-light;
      border-bottom: 0;
      padding: 8px 10px;
      text-transform: uppercase;

      &:last-child {
        border-bottom: 1px solid $grey-medium-light;
      }

      &:hover {
        background-color: $grey-super-light;
      }

      .context-menu-icon {
        opacity: .6;
      }
    }
  }
}
