.popup-menu {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  max-width: 300px;
  min-width: 150px;
  padding: 5px;
  position: relative;
  text-align: center;

  .popup-menu-item {
    clear: both;

    &:hover {
      background-color: $grey-light;
    }

    .popup-menu-item-name {
      display: inline-block;
      padding: 8px 15px;
    }
  }

  .popup-menu-trigger-wrapper {
    display: inline-block;
    width: 100%;

    .popup-menu-trigger {
      cursor: pointer;
      font-size: 22px;
      width: 100%;
    }
  }

  .popup-menu-content {
    @include transform(translateY(-50%) scale(1));
    background-color: $white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    list-style-type: none;
    margin: 0;
    max-height: 300px;
    max-width: 250px;
    min-width: 200px;
    overflow: auto;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 120%;
    z-index: 9999;
  }
}

.popup-menu-enter {
  opacity: 0;
  @include transform(  translateY(-40%) scale(.9));
}

.popup-menu-enter {
  &.popup-menu-enter-active {
    @include transform(translateY(-50%) scale(1));
    opacity: 1;
    transition-property: transform, opacity, scale;
    transition-duration: 200ms;
    transition: opacity .4s, transform .4s;
  }
}


.popup-menu-leave {
  @include transform(translateY(-50%) scale(1));
  opacity: 1;

  &.popup-menu-leave-active  {
    @include transform(translateY(-40%) scale(.9));
    opacity: 0;
    transition: opacity .4s, transform .4s;
  }
}
