.select {
  font-size: 22px;
  margin-bottom: 10px;

  &.popup-menu  {
    .popup-menu-trigger {
      color: $grey-dark;
      padding: 5px;

      &:hover {
        background-color: $grey-light;
      }
    }
  }

  .option {
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;
    padding: 7px 15px;
    text-overflow: ellipsis;
    $white-space: nowrap;

    &:hover {
      background-color: $grey-super-light;
    }
  }
}
