.timer {
  font-weight: 100;
  margin: 0 auto;
  position: relative;
  width: 225px;

  @include respond-to(handhelds) {
    max-width: 225px;
    width: auto;
  }

  .timer-content {
    @include center-vert-horiz();
    font-size: 33px;

    .timer-control {
      color: $color-primary;
      cursor: pointer;

      &.disabled {
        cursor: default;
        opacity: .3;
      }

      .icon-play-rounded {
        font-size: 98px;
        left: 7%;
        position: relative;
      }
    }
  }
}
