.timesheet {
  background-color: $white;
  box-shadow: 2px 3.5px 14px -1px rgba(0, 0, 0, .22);
  font-size: 14px;
  margin: 40px auto;
  margin-bottom: 0;
  max-width: 960px;
  min-height: 37vh;
  padding: 30px 0;
  width: 80%;

  @include respond-to(handhelds) {
    box-shadow: 0 0 0;
    min-width: 100%;
    width: 100%;
  }

  @include respond-to(small-screens) {
    box-shadow: 0 0 0;
    min-width: 100%;
    width: 100%;
  }

  &.timesheet-projects {
    margin-top: 70px;
  }

  .timesheet-row {
    padding: 25px;
    position: relative;
  }

  .timesheet-title {
    font-family: $font-title;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    text-align: center;

    @include respond-to(handhelds) {
      margin-bottom: 20px;
      margin-left: 5%;
      margin-right: 25px;
    }
  }

  .timesheet-add-button {
    background-color: $color-primary;
    white-space: nowrap;

    @include respond-to(handhelds) {
      @include center-vert-horiz();
      font-size: 11px;
    }
  }

  .total-time {
    padding-bottom: 0;
    padding-top: 50px;

    .total-time-time {
      font-size: 13px;
      font-weight: 500;
    }
  }
}
