.timesheet-col {
  $left-right-padding: 3%;
  display: inline-block;
  text-align: left;
  vertical-align: top;

  &.timesheet-col1 {
    padding-left: $left-right-padding;
    width: 15%;

    @include respond-to(handhelds) {
      width: 23%;
    }

    @include respond-to(small-screens) {
      width: 23%;
    }
  }

  &.timesheet-col2 {
    width: 65%;

    @include respond-to(handhelds) {
      width: 46%;
    }

    @include respond-to(small-screens) {
      width: 46%;
    }
  }

  &.timesheet-col3 {
    padding-right: $left-right-padding;
    text-align: right;
    width: 20%;

    @include respond-to(handhelds) {
      width: 31%;
    }

    @include respond-to(small-screens) {
      width: 31%;
    }
  }

  .timesheet-col-title {
    color: $black-faded;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 2.4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .timesheet-col-time {
    font-size: 13px;
  }
}
