.col-lp-hero {
  @media screen and (min-width: 960px) {
    border: 1px solid $debug-border-color;
    padding-top: 20vh;
    // padding-left: 70px;
    position: relative;
    text-align: left;
  }
}
