$section-padding: 55px;

.timer-section {
  padding: $section-padding 0;
  text-align: center;

  .timer-container {
    margin: 0 auto;
    width: 60%;
  }
}

.task-nag-section {
  height: 50%;
  padding: $section-padding;
  position: relative;
}
